{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <br />
  <p class="lead" align="justify">
    Cura is a content curation and discovery platform. Here you can find images that have been collected from various
    places across the net. The sources have been handpicked around the focuses of art, design, style, and technology.
    The hope is to provide a window of inspiration, and a platform for great visual media to be observed.
    Cura has just begun. An interactive aspect for users is under construction, and a series of tools for content searching
    and filtering are being built.</p>
    <br />
    <p class="lead">Ready?</p>
  <a href="{% url 'grid' %}">Explore!</a>
</div>
{% endblock %}
