{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cura</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">

    <!-- css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-responsive.min.css' %}" /> -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />

</head>
<body>
    <header>
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
        <!-- TODO -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" style="margin-left: 10px;" href="{% url 'grid' %}">Cura</a>
        </div>
        <!-- Todo - Add search bar here -->
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="{% url 'search' %}">Search</a></li>
            <li class="active"><a href="{% url 'about' %}">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div><!--/.container -->
    </div><!--/.container -->

    </header>
    <div class="container">
        {% block content %}
        {% endblock %}
        <br />
        <br />
        <div class="footer">
          <p>&copy; Cura 2013</p>
        </div>
    </div>

    <!-- plugins -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="{% static 'js/modernizr.js' %}"></script>
    <script src="{% static 'js/jquery.masonry.min.js' %}"></script>
    <script src="{% static 'js/jquery.infinitescroll.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/grid.js' %}"></script>
</body>
</html>
