{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>Search</h1>
  <p class="lead">Enter a URL to extract images from</p>
  <form id="url-input" method="post" action="{% url 'images.views.images' %}"> {% csrf_token %}
        <p><input type="text" name="url"></p>
        <p><button class="btn btn-large btn-success" type="submit" >Go</button></p>
  </form>
  <a href="{% url 'grid' %}">Explore</a>
</div>
{% endblock %}
