{% extends "base.html" %}
{% block content %}
<div class="block">
    <div id="image-container" style="display: none"> <!-- hide broken links - display if they load -->
        {% for filename, url in images.items %}
            <a href="{{ url }}"><img src="{{ url }}" onload="this.parentNode.parentNode.style.display = 'block'"></a><br>
        {% endfor %}
    </div>
    {% if next_page %}
    <div class="bottom">
        <form method="post" action="{% url 'images.views.images' %}"> {% csrf_token %}
            <input type="hidden" name="previous_page" value="{{ previous_page }}"><br>
            <button name="url" class="btn btn-large btn-primary" value="{{ next_page }}" type="submit">NEXT</button>
    </div>
</div>
{% endif %}
{% endblock %}