{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
{% load humanize i18n %}
<div class="block">
    {% for image in photos_urls %}
        <div class="brick">
            <a href=""><img src="{{ image }}" alt="{{ image }}"></a><br>
        </div>
    {% endfor %}
</div>
{% include "_pagination.html" %}
{% endblock %}