{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
{% load humanize i18n %}
<div id="content">
    {% for image in object_list %}
        <div class="box">
            <a href="{{ image.url }}"><img src="{{ image.url }}" alt="{{ image.name }}"></a>
        </div>
    {% endfor %}
</div>
{% include "_pagination.html" %}
{% endblock %}