/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    background-color: #f7f7f7;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header { margin-bottom: 30px }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron { border-bottom: 0 }
}

#url-input {
    text-align: center;
    letter-spacing: -2px;
}

.block { text-align: center }

/* The ghost, nudged to maintain perfect centering */
.block:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
}

#image-container {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: .5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .5%;
    overflow: hidden;
}

img {
    max-width: 100%;
}

a { white-space: nowrap; color: #7068ff; }

.box {
  width: 300px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 5px;
}

#image-container img { width: 60% }

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.navbar-default {
    background-color: rgba(255,255, 255, 0.7);
    border-color: rgba(255,255, 255, 0.2);
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    background-color: rgba(255,255, 255, 0.9);
}

